<%= form_for(@user, url: signup_path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag '欢迎' do %>
    <div class="field">
      <%= f.label :email, '邮箱' %>
      <%= f.email_field :email, required: true, autofocus: true %>
      <span id="check_email_available">可用</span>&nbsp;<span id="show_check_result">？</span>
    </div>
    <div class="field">
      <%= f.label :password, '密码' %>
      <%= f.password_field :password, required: true %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, '密码确认' %>
      <%= f.password_field :password_confirmation, required: true %>
    </div>
    <div class="field">
      <%= f.label :nickname, '昵称' %>
      <%= f.text_field :nickname %>
    </div>
    <div class="actions">
      <%= f.submit '注册' %>
    </div>
  <% end %>
<% end %>
