<%= form_for(@user, url: signup_path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag t(:welcome) do %>
    <div class="field">
      <%= f.label :email, t(:email, scope: 'activerecord.attributes.user') %>
      <%= f.email_field :email, required: true, autofocus: true %>
      <span id="check_email_available"><%= t(:available) %></span>&nbsp;<span id="show_check_result">？</span>
    </div>
    <div class="field">
      <%= f.label :password, t(:password, scope: 'activerecord.attributes.user') %>
      <%= f.password_field :password, required: true %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, t(:confirm, scope: 'activerecord.attributes.user') %>
      <%= f.password_field :password_confirmation, required: true %>
    </div>
    <div class="field">
      <%= f.label :nickname, t(:nickname, scope: 'activerecord.attributes.user')%>
      <%= f.text_field :nickname %>
    </div>
    <div class="actions">
      <%= f.submit t(:signup) %>
    </div>
  <% end %>
<% end %>
