<% if notice %>
<p><%= notice %></p>
<% end %>
<%= form_tag fsend_friendships_path do %>
  <%= email_field_tag 'email', nil, required: true, autofocus: true %>
  <%= submit_tag "添加好友" %>
<% end %>
<h1>Listing friendships</h1>

<ul>
<% @friendships.each do |friendship| %>
  <li>
    <%= link_to friendship.get_identifier, user_path(friendship.friend) %>
  </li>
<% end %>
</ul>

<%# <%= link_to 'New Friendship', new_friendship_path +| %>
