<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @friendship.from %>
</p>

<p>
  <b>To:</b>
  <%= @friendship.to %>
</p>

<p>
  <b>Status:</b>
  <%= @friendship.status %>
</p>

<p>
  <b>Remark name:</b>
  <%= @friendship.remark_name %>
</p>


<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>
