<!DOCTYPE html>
<html>
<head>
  <title>Goqi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<header>
  <ul id="header-outer-ul">
    <li><%= link_to t(:index), root_path %></li>
    <% unless session[:uid] %>
    <li><%= link_to t(:login), login_path %></li>
    <li><%= link_to t(:signup), signup_path %></li>
    <% else %>
    <li>
      <ul class="drop-down">
        <li><%= link_to "好友", friendships_path %></li>
        <li>
          <ul class="second">
            <li><%= link_to "好友请求", receive_friendships_path %></li>
            <li><a href="#">查找添加</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><%= link_to t(:logout), logout_path, method: :delete %></li>
    <% end %>
  </ul>
</header>
<div id="container">
  <section id="main">
    <%= yield %>
  </section>
  <aside>
  <% if  u = get_current_user %>
    <%= link_to u.nickname_or_email, user_path(u) %>
  <% else %>
    no content here
  <% end %>
  </aside>
</div>
<footer>
  <%= debug(params) if Rails.env.development? %>
</footer>
</body>
</html>
