<!DOCTYPE html>
<html>
<head>
  <title>Goqi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<header>
  <%= link_to '首页', root_path %>
  <% unless session[:uid] %>
    <%= link_to '登录', login_path %>
    <%= link_to '注册', signup_path %>
  <% else %>
    <%= link_to '注销', logout_path, method: :delete %>
  <% end %>
</header>
<div id="container">
  <section id="main">
    <%= yield %>
  </section>
  <aside>
    侧边栏
  </aside>
</div>
<footer>
  <%= debug(params) if Rails.env.development? %>
</footer>
</body>
</html>
